<li class="catalog-card <% className %>">
  <a href="#">
    <%- include('../common/picture', {
      name: image.name,
      ext: 'png',
      alt: image.alt,
      width: 140,
      height: 107,
      tabletWidth: 200,
      tabletHeight: 210,
      desktopWidth: 169,
      desktopHeight: 210,
    }) %>
  </a>
  <div class="catalog-card__content">
    <a href="#">
      <h2 class="catalog-card__title"><%- name %></h2>
    </a>
    <dl>
      <div>
        <dt class="catalog-card__item">Масса</dt>
        <dd class="catalog-card__item"><%- weight %> г</dd>
      </div>
      <div>
        <dt class="catalog-card__item">Вкус</dt>
        <dd class="catalog-card__item"><%- taste %></dd>
      </div>
      <div>
        <dt class="catalog-card__item">Цена</dt>
        <dd class="catalog-card__item"><%- price %> ₽</dd>
      </div>
    </dl>
    <a class="catalog-card__button button" href="#">Заказать</a>
  </div>
</li>
